.root {
  font-family: IBM Plex Sans, sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  background-color: "#007FFF";
  padding: 12px 24px;
  border-radius: 12px;
  color: white;
  transition: all 150ms ease;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: #0072e5;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
