// .heading {
// 	@apply mb-3;
// }

// .movies {
// 	@apply flex flex-wrap mt-8;

// 	> a {
// 		@apply mr-8 animate-fade;
// 	}

// 	> a:nth-child(3n) {
// 		@apply mr-0;
// 	}
// }

// .button {
// 	@apply btn-primary py-2 px-10;
// }
.container {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}
.wrapperForm {
  margin-top: 16px;
  max-width: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
  width: 100%;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
.text {
  margin-top: 16px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.error {
}
.errorText {
  // ...errorText,
  margin-top: 10px;
  // fontSize: theme.font_size_medium,
}
